{% extends "monitoring/index.html" %}

{% block content %}

    <div class="main_block">
        <div class="paragraph">
            <h3>Голосование</h3><br>
            <p> Каждый человек может голосовать 1 раз в сутки. </p>
        </div>
        <div class="paragraph">
            <h3>Как купить место в топе или таблице?</h3><br>
            <p>Перейдите по вкладке "Купить место", выберите интересующее вас место и период (не более 3 месяцев) и оплатите любым удобным для вас способом.</p>
        </div>
        <div class="paragraph">
            <h3>Можно ли приобрести место на период более 3 месяцев или перекупить?</h3><br>
            <p>Нет.</p>
        </div>
{#        <div class="paragraph">#}
{#            <h3>Вопрос 3?</h3>#}
{#            <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации,#}
{#                например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </p>#}
{#        </div>#}
{#        <div class="paragraph">#}
{#            <h3>Вопрос 4?</h3>#}
{#            <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации,#}
{#                например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </p>#}
{#        </div>#}
{#        <div class="paragraph">#}
{#            <h3>Вопрос 5?</h3>#}
{#            <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации,#}
{#                например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. </p>#}
{#        </div>#}

        <script type="text/javascript">
            $(".paragraph h3").on("click", function(){
                var obj = $(this).parent().find("p");
                if (obj.css("display") === "none")
                    obj.css("display", "inline-block");
                else
                    obj.css("display", "none");
            });
        </script>

    </div>
{% endblock %}