{% load static %}
{% load general %}

<html lang="en" dir="ltr">

<head>

    <meta charset="utf-8">

    <title>{{ Title }}</title>

    <link href="{% static "monitoring/css/general.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "monitoring/css/login.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "monitoring/css/errors.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "monitoring/css/profile.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "monitoring/css/buy_place.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="http://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="icon" href="{% static 'monitoring/img/icon.png' %}">

    <style>
        body {
            padding: 3%;
            width: 94%;
            min-width: 200px;
        }

        ol {

        }
    </style>
</head>

<body>

<h1>УСЛОВИЯ ДОГОВОРА ОФЕРТЫ НА ПРОЕКТЕ {% logo %}</h1>

<p> Данным договором регулируются отношения между сервисом {% logo %}, именуемым далее «Продавец» или «Сервис», и
    физическим лицом, именуемым далее «Клиент».
    Оформляя заказ на Сервисе, Клиент подтверждает факт ознакомления с условиями договора-оферты и принятия его условий.
    В случае принятия указанных условий и внесения оплаты услуг физическое лицо становится Клиентом, а
    Сервис и физическое лицо становятся сторонами данного соглашения. Акцепт Договора – выполнение Клиентом действий,
    которые
    свидетельствуют о его намерении вступить в правоотношения с Сервисом. Действия, свидетельствующие об акцепте
    договора – оплата Клиентом
    полной стоимости заказанных Услуг. Акцептируя пользовательское соглашение, Клиент подтверждает, что ознакомился и
    понял все указанные
    условия (В разделе «Правила», расположенные по адресу http://gamemonitoring.site/rules) Соглашения, с которыми он безоговорочно и
    безусловно согласен.
    С того момента, как Клиент принимает условия Договора, Соглашение признается согласованным и заключенным, а обе
    стороны берут на
    себя обязательство по выполнению условий, прописанных в нем. </p>

<h2>1. Термины</h2>
<p>
    Сайт – официальный веб-сайт сервиса {% logo %}, расположенный в Интернете под доменным адресом
    http://gamemonitoring.site а также все производные страницы, которые входят в его состав и обеспечивают
    взаимодействие сторон соглашения через электронные каналы связи, включая проведение взаимных расчетов и
    предоставление Услуг Клиенту.
    <br>
    Продавец – администрация сервиса {% logo %} или любое другое лицо, в интересах которого действует последняя.
    Продавец является агентом, выполняющим продажу Услуг.
    <br>
    Покупатель – физическое лицо, заказывающее услуги на Сайте.
    <br>
    Услуги – раскрутка игровых серверов Counter Strike.
    <br>
    Договор купли-продажи товара (именуемое «Соглашение» или «Договор») – соглашение, заключенное между физическим лицом
    и сервисом {% logo %}, в рамках которого Клиент перечисляет оплату за предложенную Сервисом услугу продвижения
    сервера или серверов.
    <br>
    Заказ – заявка Клиента на любые услуги, заполненная на Сайте и свидетельствующая о самостоятельном намерении
    физического лица получить Услуги в рамках пользовательского соглашения.
    <br>
    В пользовательском соглашении могут использоваться термины, не указанные в данном разделе Договора. В таком случае
    они должны толковаться в соответствии со смыслом и текстом настоящего договора. Если возможность однозначно
    истолковать термины в тексте соглашения отсутствует, стороны должны руководствоваться толкованием терминов,
    прописанным на Сайте, включая юридическую документацию, размещенную в общем доступе, а также законодательством
    Российской Федерации.
</p>
<h2>2. Предмет договора</h2>

<p>
    По данному договору Продавец, действия от своего имени, продает Услуги через Сайт физическим лицам, которые
    оплачивают их на условиях, в порядке и в размере, прописанных в настоящем Соглашении.

    Наименование, ассортимент, стоимость, способы оплаты и описание Услуг, а также прочие условия указаны на Сайте на
    странице выбранной Услуги.

    Товар предоставляется Клиенту в соответствии с параметрами и характеристиками, указанными в описании на
    соответствующей странице. В момент продажи Услуги администрация гарантирует ее актуальность и качество.

    Все Услуги предоставляются физическим лицам в соответствии с правилами, указанными в Соглашении.

    Если Продавцом не был выполнен Заказ в установленные сроки, Клиент имеет право потребовать возврата внесенной оплаты
    в части невыполненных условий (возврат средств за отсутствие сервера на заявленном месте в течение указанного
    промежутка времени).
</p>

<h2>3. Права и обязанности сторон</h2>

<p>
    Права и обязанности Продавца:
<ul>
    <li>
        Продавец берет на себя обязательство по предоставлению Клиенту консультаций касательно технической стороны
        заказа Услуг и использования Сайта при получении соответствующего запроса.
    </li>
    <li>
        Продавец берет на себя обязательство по проверке и рассмотрению полученных мотивированных претензий на
        протяжении недели с момента получения их от Клиента.
    </li>
    <li>
        Продавец берет на себя обязательство по сохранению работоспособного состояния Сайта.
    </li>
    <li>
        Продавец имеет право удалить с Сайта описание тех или иных Услуг, не уведомляя об этом предварительно Клиента.
    </li>
    <li>
        Продавец имеет право отказать Клиенту в предоставлении Услуги без объяснения причин.
    </li>
    <li>
        Продавец имеет право привлекать третьих лиц для того, чтобы выполнить свои обязательства в соответствии с
        настоящим Соглашением, беря на себя ответственность за любые их действия и решения, как за свои.
    </li>
    <li>
        Продавец имеет право выполнять профилактические работы на Сайте, из-за чего последний может быть недоступен.
    </li>
    <li>
        Продавец имеет право отменить оплаченный Заказ без объяснения причин вернув часть стоимости Услуги за остаточный период оказания Услуги.
    </li>

</ul>
Права и обязанности Клиента:
<ul>
    <li>
        Клиент берет на себя обязательство полностью оплатить стоимость Услуги, определенную в рамках условий настоящего
        Договора.
    </li>
    <li>
        Клиент берет на себя обязательство по незамедлительному уведомлению Продавца о возникновении каких-либо
        претензий к
        Услугам, не выполняя самостоятельно никаких действий, направленных на устранение возникшей проблемы (включая
        оставление
        негативных отзывов до того момента, как будет принято решение Администрацией Сайта). Если клиент пытается
        самостоятельно
        решить возникшую проблему или обращается к Продавцу позже, чем через 24 часа с момента появления претензий,
        Продавец
        получает право отказать Клиенту в предоставлении гарантийной компенсации стоимости Услуги.
    </li>
    <li>
        Клиент берет на себя обязательство по ознакомлению с описанием Услуги и правилами «в разделе Правила», условиями
        ее
        предоставления и характеристиками перед ее оплатой.
    </li>
    <li>
        Клиент берет на себя обязательство по своевременному ознакомлению со всей информацией, указанной на Сайте и в
        уведомлениях, которые ему отправляются на указанную в профиле электронную почту.
    </li>
    <li>
        Клиент имеет право самостоятельно выбирать Услугу из перечня, представленного на Сайте.
    </li>
    <li>
        Клиент имеет право самостоятельно выбирать способ оплаты Услуги из перечня, представленного на Сайте.
    </li>
    <li>
        При заказе Услуги Клиент берет на себя обязательство действовать добросовестно и не злоупотреблять
        предоставленными ему
        данным соглашением правами. В частности, не заказывать Услугу с целью вымогательства других Услуг или совершения
        каких-либо недобросовестных действий, направленных на нанесение ущерба или убытков Сервису.
    </li>
</ul>
</p>
<h2>4. Расчеты между Клиентом и Продавцом</h2>
<p>
    Стоимость Услуг определяется на усмотрение Продавца.

    В указанную стоимость не входят комиссии, которые взыскиваются платежными системами, используемыми Клиентом для
    оплаты Услуг.

    Основание для оплаты стоимости Услуг – Заказ Клиента.

    Оплачивать Услуги Клиент может только теми способами, которые указаны на Сайте в соответствии с его технологическим
    и техническим устройством.

    Клиент должен оплачивать Услуги на условиях 100% (стопроцентной) предварительной оплаты.

    Дата оплаты заказанной Услуги – дата, когда сумма оплаты поступает на счет Продавца.

    Продавец имеет право в одностороннем порядке менять стоимость Услуг посредством публикации новых цен на Сайте, не
    объясняя Клиентам причины и не отправляя предварительного уведомления.

    Продавец имеет право устанавливать минимальную стоимость тех или иных Услуг.
</p>
<h2>5. Порядок заказа и предоставления Услуги Клиенту</h2>
<p>
    Заказ Услуги клиентом выполняется в следующем порядке:
<ul>
    <li>
        Клиент выбирает Услуги из перечня, представленного на сайте, и нажимает кнопку «Оплатить заказ» на веб-странице,
        где размещено описание соответствующей Услуги.
    </li>
    <li>
        Клиент выбирает способ оплаты и выполняет все сопутствующие действия, установленные выбранной им платежной
        системой для оплаты Услуги.
    </li>
    <li>
        Сервер Клиента размещается на позициях в рейтинге, соответствующих заказанной им Услуге.
    </li>
</ul>
Услуга Клиенту предоставляется только при поступлении 100% (стопроцентной) оплаты.

Продавец считается выполнившим свои обязательства по настоящему Договору с момента размещения сервера на позициях в
рейтинге, соответствующих описанию заказанной Клиентом Услуги.

</p>
<h2>6. Претензии Клиентов</h2>
<p>
    Клиент берет на себя обязательство максимально подробно ознакомиться с Правилами на сайте перед заказом. Претензии,
    обусловленные ненадлежащим ознакомлением с Правилами, не будут приняты Продавцом и отклоняются.

    Настоящим договором Стороны приходят к соглашению, что проверить качество предоставленной Услуги и предъявить свои
    претензии Клиент должен после 60 минут с момента оформления Заказа. Этого времени достаточно для того, чтобы
    проверить эффективность работы услуг. По истечению установленного промежутка времени претензии со стороны Клиента
    приняты не будут и отклоняются.

    Претензии Клиентов к услугам продвижения серверов Counter Strike не принимаются, если заказ был выполнен (сервер
    находился на позициях, соответствующих заказанной услуге, на протяжении заявленного промежутка времени) или если не
    вышли сроки предоставления Услуги.

</p>
<h2>7. Ответственность Сторон</h2>
<p>
    Ничто в данном Договоре не может гарантировать Клиенту полное удовлетворение его потребностей и интересов, связанных
    с заказом Услуги на сервисе {% logo %}.

    Продавец не берет и не может нести ответственность за расходы и убытки, которые возникли у Клиента по причине:
<ul>
    <li>
        Действия или бездействия третьих лиц.
    </li>
    <li>
        Перерывов или сбоев в работе Сайта.
    </li>
    <li>
        Воздействия компьютерных вирусов.
    </li>
</ul>
</p>
<h2>8. Действие пользовательского соглашения</h2>
<p>
    Договор вступает в силу с момента его размещения на Сайте.

    Договор размещен на неопределенный промежуток времени и теряет свою силу после аннулирования Администрацией Сайта.

    При внесении корректировок в договор последние вступают в силу с того момента, как новая редакция пользовательского
    соглашения будет опубликована на Сайте, если другие сроки вступления корректировок в силу не указаны при их
    публикации. Администрация Сайта имеет право самостоятельно корректировать текст пользовательского соглашения в
    одностороннем порядке.

    Клиент берет на себя обязательство самостоятельно контролировать корректировки в положениях настоящего соглашения и
    берет на себя ответственность за любые негативные последствия, возникшие по причине несоблюдения этого
    обязательства.

    Если Клиент не согласен с опубликованными изменениями договора, он берет на себя обязательство прекратить
    использование сервиса {% logo %} и отказаться от предоставления ему Услуг. В случае продолжения использования
    Сайта Клиент подтверждает свое согласие с новой редакцией условий договора.
</p>

</body>

</html>
